body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    
    background-color: var(--tg-theme-bg-color);
}

.container{
    max-width: 390px;
    
}
.inner{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
}
img{
    width: 150px;
}
.item{
    
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    
    color: var(--tg-theme-button-color);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
}

.inner .item .info{
    color: var(--tg-theme-text-color)
    
}
